{{ ansible_managed | comment }}


[mysqldump]
{{ mariadb_mysqldump_quick | ternary('quick', '') }}
{{ mariadb_mysqldump_quote_names | ternary('quote-names', '') }}
max_allowed_packet = {{ mariadb_max_allowed_packet }}


[client]
default-character-set = {{ mariadb_client_default_charset }}
socket = {{ mariadb_client_socket }}




[server]
socket = {{ mariadb_server_socket }}


[mysqld_safe]
nice = {{ mariadb_mysqld_safe_nice }}
{{ mariadb_mysqld_safe_skip_log_error | ternary('skip_log_error', '') }}
{{ mariadb_mysqld_safe_syslog | ternary('syslog', '') }}


[mysqld]
user = {{ mariadb_mysqld_user }}
pid-file = {{ mariadb_mysqld_pid_file }}
socket = {{ mariadb_mysqld_socket }}
port = {{ mariadb_mysqld_port }}
basedir = {{ mariadb_mysqld_basedir }}
datadir = {{ mariadb_mysqld_datadir }}
tmpdir = {{ mariadb_mysqld_tmpdir }}
lc-messages-dir  = {{ mariadb_mysqld_lc_messages_dir }}
bind-address = {{ mariadb_mysqld_bind_address }}

query_cache_size = {{ mariadb_mysqld_query_cache_size }}
log_error = {{ mariadb_mysqld_log_error }}
expire_logs_days = {{ mariadb_mysqld_expire_logs_days }}

character-set-server = {{ mariadb_mysqld_character_set_server }}
collation-server = {{ mariadb_mysqld_collation_server }}

[mariadb]
{% if mariadb_replication_role | default('none') == 'primary' %}
log-bin
server_id = {{ mariadb_replication_serverid }}
log-basename = {{ mariadb_replication_serverid }}
binlog-format=mixed
{% elif mariadb_replication_role | default('none') == 'replica' %}
log-bin
server_id = {{ mariadb_replication_serverid }}
log-basename = {{ mariadb_replication_serverid }}
binlog-format=mixed
{% endif %}

ssl-ca = {{ mariadb_mysqld_ssl_ca }}
ssl-cert = {{ mariadb_mysqld_ssl_cert }}
ssl-key = {{ mariadb_mysqld_ssl_key }}
ssl-cipher = {{ mariadb_mysqld_ssl_cipher }}
ssl = {{ mariadb_mysqld_ssl | ternary('on', 'off') }}
